* {
  margin: 0%;
  padding: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ri-code-ai-line {
    font-size: 40px;
  }

  .logo {
    font-size: 30px;
    margin-left: 80px;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;

    li {
      cursor: pointer;
      padding: 5px 18px;
      border-radius: 10px;
      border: 1px solid;

      &:hover {
        box-shadow: 0px 0px 10px;
      }
    }
  }

  .nav-btn {
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 80px;
    border-radius: 10px;
    font-size: 17px;

    &:hover {
      box-shadow: 0px 0px 5px;
      background: linear-gradient(
        to bottom,
        rgba(181, 244, 113, 0.829),
        rgb(64, 82, 1)
      );
      color: white;
    }
  }
}

.first-mid {
  height: 60vh;
  width: 100%;
  margin-top: 40px;
  display: flex;
}

.left {
  height: 100%;
  width: 50%;

  h1 {
    margin-left: 80px;
    font-size: 70px;
    font-weight: 500;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  h3 {
    margin-left: 80px;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 100;
    line-height: 25px;
  }

  .left-btn {
    padding: 13px 20px;
    cursor: pointer;
    margin-right: 100px;
    border-radius: 10px;
    font-size: 17px;
    margin-left: 80px;
    font-weight: 600;

    &:hover {
      box-shadow: 0px 0px 10px black;
      background: linear-gradient(
        to bottom,
        rgba(181, 227, 132, 0.829),
        rgb(46, 58, 2)
      );
      color: white;
    }
  }
}

.right {
  height: 100%;
  width: 50%;

  img {
    height: 100%;
    margin-left: 50px;
  }
}

.first-bottom {
  height: 24vh;
  display: flex;
  align-items: center;

  .zero {
    height: 10vh;
    margin-left: 80px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .one {
    height: 20vh;
    margin-left: 40px;
    cursor: pointer;
  }

  .two {
    height: 20vh;
    margin-bottom: 15px;
    margin-left: 15px;
    cursor: pointer;
  }

  .three {
    height: 14vh;
    margin-bottom: 15px;
    margin-left: 35px;
    cursor: pointer;
  }

  .four {
    height: 20vh;
    margin-bottom: 15px;
    margin-left: 55px;
    cursor: pointer;
  }

  .five {
    height: 9vh;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-top: 10px;
    cursor: pointer;
  }

  .six {
    height: 11vh;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-top: 10px;
    cursor: pointer;
  }

  .seven {
    height: 20vh;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-top: 10px;
  }
}

.sec-page {
}

.head {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
  margin-bottom: 20px;

  h1 {
    margin-left: 80px;
    padding: 2px 10px;
    background-color: rgb(144, 249, 46);
  }

  z {
    margin-left: 50px;
    font-weight: 100;
  }
}

.first-card {
  height: 35vh;
  width: 100%;
  display: flex;
  align-items: center;

  /* start a */

  .a {
    height: 33vh;
    width: 44vw;
    margin-left: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 0px;
    border: 2px solid;

    .a-left {
      height: 33vh;
      width: 50%;

      p {
        width: 160px;
        padding: 4px 10px;
        margin-left: 30px;
        font-size: 28px;
        font-weight: 400;
        margin-top: 30px;
        background-color: rgb(144, 249, 46);
        border-radius: 5px;
      }

      y {
        font-size: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .ri-arrow-right-up-line {
        font-size: 35px;
        margin-right: 10px;
        margin-left: 30px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 4px;
      }
    }

    .a-right {
      height: 33vh;
      width: 50%;
      display: flex;
      align-items: center;

      img {
        height: 80%;
        width: 90%;
        margin-left: 10px;
        border-radius: 20px;
      }
    }
  }

  /* start b */

  .b {
    height: 34vh;
    width: 44vw;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;

    .a-left {
      height: 33vh;
      width: 50%;

      p {
        width: 160px;
        padding: 4px 10px;
        margin-left: 30px;
        font-size: 28px;
        font-weight: 400;
        margin-top: 30px;
        background-color: rgb(144, 249, 46);
        color: black;
        border-radius: 5px;
      }

      y {
        font-size: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .ri-arrow-right-up-line {
        font-size: 35px;
        margin-right: 10px;
        margin-left: 30px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 50%;
        padding: 4px;
      }
    }

    .a-right {
      height: 33vh;
      width: 50%;
      display: flex;
      align-items: center;

      img {
        height: 80%;
        width: 100%;
        border-radius: 20px;
      }
    }
  }
}

.sec-card {
  height: 35vh;
  width: 100%;
  display: flex;
  margin-top: 20px;
  align-items: center;

  .c {
    height: 34vh;
    width: 44vw;
    background-color: black;
    margin-left: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;

    .a-left {
      height: 33vh;
      width: 50%;

      p {
        width: 160px;
        padding: 4px 10px;
        margin-left: 30px;
        font-size: 28px;
        font-weight: 400;
        margin-top: 30px;
        background-color: rgb(144, 249, 46);
        color: black;
        border-radius: 5px;
      }

      y {
        font-size: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .ri-arrow-right-up-line {
        font-size: 35px;
        margin-right: 10px;
        margin-left: 30px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 50%;
        padding: 4px;
      }
    }

    .a-right {
      height: 33vh;
      width: 50%;
      display: flex;
      align-items: center;

      img {
        height: 90%;
        width: 100%;
        margin-left: 50px;
        border-radius: 20px;
      }
    }
  }

  .d {
    height: 33vh;
    width: 44vw;
    margin-left: 0px;
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 0px 10px 0px;
    margin-left: 20px;
    display: flex;
    align-items: center;

    .a-left {
      height: 33vh;
      width: 50%;

      p {
        width: 160px;
        padding: 4px 10px;
        margin-left: 30px;
        font-size: 28px;
        font-weight: 400;
        margin-top: 30px;
        background-color: rgb(144, 249, 46);
        color: black;
        border-radius: 5px;
      }

      y {
        font-size: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .ri-arrow-right-up-line {
        font-size: 35px;
        margin-right: 10px;
        margin-left: 30px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 4px;
      }
    }

    .a-right {
      height: 33vh;
      width: 50%;
      display: flex;
      align-items: center;

      img {
        height: 100%;
        width: 100%;
        margin-left: 30px;
        border-radius: 20px;
      }
    }
  }
}

.three-page {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .thr {
    margin-top: 40px;
    height: 40vh;
    background-color: #d4d1d1;
    width: 90%;
    border-radius: 30px;
    display: flex;
    align-items: center;

    .thr-left {
      height: 100%;
      width: 50%;

      .l-head {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.756);
        font-weight: 400;
        margin-left: 40px;
        margin-top: 50px;
      }

      hh {
        font-size: 30px;
        color: black;
      }

      .l-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: black;
        color: white;
        height: 35px;
        border-radius: 10px;
        width: 190px;
        padding: 5px 20px;
        font-size: 20px;
        margin-left: 40px;

        &:hover {
          box-shadow: 0px 0px 10px black;
        }
      }
    }

    .thr-right {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;

      img {
        height: 100%;
        width: 100%;
        /* border-radius: 30px; */
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
    }
  }
}

.case {
  height: 20vh;
  display: flex;
  align-items: center;

  .cc {
    font-size: 35px;
    background-color: rgb(144, 249, 46);
    padding: 3px 10px;
    margin-left: 80px;
  }

  .dd {
    font-size: 17px;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.795);
  }
}

.forth-page {
  height: 50vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  .last {
    height: 40vh;
    width: 90%;
    background-color: black;
    border-radius: 30px;
  }
}
